body{
    background-color: rgb(253, 165, 0);
    font-family: cursive;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 15px;
}

.add_block{
    width: 200px;
    height: 150px;
    background-color: #5bd380;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0px;
    transition: 0.5s;
    
    /* display: flex;
    align-items: center; */
}

/* .white_block{
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 10px;
} */

.center{
    margin-left: 55px;
}

.btn{
    top: 80%;
    left: 90%;
    position: fixed;
    z-index: 2;
}

.myBtn{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 80px; 
    font-weight: 700;   
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

}

.myBtn:hover{
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

.add{    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

.add_block:hover{
    transform: scale(1.1, 1.1);
    transition: 0.5s;
    /* background-color: #bb4444fa; */
    box-shadow: 2px 2px 10px 3px;

}

@media (max-width:1200px) {
    .add{    
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    
}
@media (max-width:768px) {
    .add{    
        grid-template-columns: repeat(3, 1fr);
        /* column-gap: 25px;
        row-gap: 25px; */
    }
    
}
@media (max-width:425px) {
    .add{    
        display: block;
    }
}


.delete{
    padding: 10px;
    display: flex;
    justify-content: end;
}

.button{
    background-color: #5bd380;
    border: none;
    cursor: pointer;
}