body {
    background-color: #3a3e41;
    margin: 100px;
}
.input {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#inp {
    margin: 40px auto;  
    width: 77%;
}

#btn1 , #btn2 {
    display: inline;
    margin: 30px;  
    float: left;

 

}

#list {
    color: white;
}

